html,
body {
  height: 100%;
  width: 100%;
  background: #fafafa;
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
}

#app {
  display: flex;
  flex: 1;
}

.literal {
  font-style: italic;
}

#viewer, #editor {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.dialog {
  flex: 1;
  overflow-y: scroll;
  font-size: 2em;
  padding: 1rem;
  color: white;
  background-color: hsl(0, 0%, 20%);
}

.dialog > *:not(:first-child) {
  margin-top: .5em;
}

.message {
  background: black;
  padding: .3em;
}

.face-text-container {
  display: flex;
}